<div class = "center_bar">
<% @diaries.each do |diary|%>
  <div class = main >

      <%= link_to (image_tag diary.image, class: "diary_img"), diary_path(diary.id)   %>
      <%= diary.user.nickname %>

  </div>
<% end %>
</div>