<div class = "center_bar">
<% @diaries.each do |diary|%>
  <div class = main >
    <%= link_to diary_path(diary.id) do %>
    <%= image_tag diary.image, class: "diary_img" %>
    <% end %>
  </div>
<% end %>
</div>