

.top_page {
  background-color: azure;
  display: block;
  height: 100vh;
  width: 100vw;
}

.top_bar {
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 80%);
}

.title {
  font-size: 80px;
  width: calc(100% - 40%);
  padding-left: 200px;

}

.logout {
  font-size: 20px;
  margin-top: 60px;
  width: calc(100% - 60%);
  padding-left: 200px;
  letter-spacing: 10px;
}

.menu {
  padding-bottom: 10px;
}



.center_bar {
  background-color: azure;
  height: calc(100% - 20%);
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

.main {
  background-color: beige;
  margin: 30px;
  width: 28%;
  height: 60%;
}

.diary_img {
  width: 100%;
  height: 100%;
}




.post {
  background-color: beige;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.diary_post {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.form_connection {
  padding: 20px;
}

.link_connection {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}



.diary_show {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.diary_block {
background-color: lightyellow;
height: 500px;
width: 500px;
}

.diary_image {
  height: 100%;
  width: 100%;
}

.show_image {
  height: 100%;
  width: 100%;
}

.diary_explanation {
  font-size: 40px;
  padding:30px;
  width:100%;
  height:auto;
}

.btn {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding:30px;
}

.back {
font-size: 20px;
display: flex;
justify-content: center;
}